asgiref==3.4.1
Django==3.2.16
django-admin-sortable2==1.0.4
django-tinymce==3.5.0
environs==9.5.0
flake8==5.0.4
geojson==2.5.0
importlib-metadata==4.2.0
marshmallow==3.14.1
mccabe==0.7.0
packaging==21.3
Pillow==8.4.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
python-dotenv==0.20.0
pytz==2022.6
sqlparse==0.4.3
typing_extensions==4.3.0
zipp==3.11.0
